@import 'vars.scss';
@import 'font.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
// =============================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Visitor;
  color: #000;
  background-color: #c7fdff;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .25)),
            color-stop(.5, transparent), to(transparent));
    border-radius: 10px;

  }

}
.container {
  max-width: 79.375rem;
  margin: 0 auto;
}
.router {
  text-decoration: none;
  color: $whiteColor;
}
